body
    h1 Forbidden
    p
        | Your device has not been configured with this MEAT server's secret,
        | and therefore is not allowed to access data from it. Ask your sysadmin for more information.