/* 
  style.css contains a reset, font normalization and some base styles.
  Mostly cropped down for what we're actually using.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
em, small, strong,
b, i,
dl, dt, dd, ol, ul, li {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}                  

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

/* END RESET CSS */

/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }


ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong { font-weight: bold; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none !important; visibility:hidden !important; } 


/* end html5doctor.com Reset Stylesheet */

#close {
    cursor: pointer;
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 5rem;
    line-height: 1;
}

html,
body,
#container,
#container > * {
    height: 100%;
}

body {
    background: #333;
    color: #fff;
    font: 5rem helvetica, arial, sans-serif;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
@-webkit-keyframes rotate {
    from {
    -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

body.disabled {
  background : #000;
  color : #000;
}
body.disabled #container {
  display: none;
}

.loading{
    background: #333 url(../images/ajax-loader.gif) 50% 50% no-repeat;
}
.loading #status,
.loading #booking,
.loading #rooms {
    display: none;
}

.show-status #loading,
.show-status #booking,
.show-status #rooms {
    display : none;
}
.show-booking #loading,
.show-booking #status,
.show-booking #rooms {
    display : none;
}
.show-rooms #loading,
.show-rooms #status,
.show-rooms #booking {
    display : none;
}

#container {
    -webkit-transition-property: color, background; 
    -webkit-transition-duration: 1s, 1s; 
    -webkit-transition-timing-function: linear, ease-in;
}

/* Room is free - white on green */
.show-status > #container.status-free {
    background:#319900;
    color: #fff;
}
/* Meeting ending soon - black on yellow */
.show-status > #container.status-soon ,
.show-status > #container.freetime-inadequate {
    background: #ffce00;
    color: #000;
}
/* Booked solid - white on red */
.show-status > #container.status-busy {
    background: #e50000; /* red */
    color: #fff;
}
/* --- */

#status {
    font-weight: bold;
    text-align: center;
    line-height: 1;
    position: relative;
}

#minutes-free {
    overflow: hidden;
    max-height: 100%;
}

#minutes-free:after {
    content: "✘";
    width: 100%;
    overflow: hidden;
}
.status-free #minutes-free:after {
    content: "✓";
}

.event {
    box-sizing: border-box;
    font-size: 15rem;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
}

.event > .which {
    font-size: 0.6em;
    padding-bottom: 1rem;
}
.event > .title,
.event > .organizer ,
.event > .when {
    font-weight: normal;
    font-size: 1.1em;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}
.event > .title {
    font-weight: bold;
}
.event > .organizer {
    font-style: italic;
}

#booking > * {
    text-align: center;
    height: 50%;
}

#info {
    line-height: 1;
    color: #fff;
    font-size: 8rem;
    padding: 13rem 2rem 0;
    box-sizing: border-box;
}

#info strong {
    display: block;
    font-size: 2em;
}

#controls p {
    font-size:10rem;
    padding: 5rem 5rem 3rem;
}
#controls #time,
#controls #time li {
    margin:0;
    padding:0;
    list-style:none;   
}
#controls #time li {
    cursor: pointer;
    display:inline-block;
    font-size:18rem;
    font-weight: bold;
    margin:0 3rem;
    line-height:2em;  
    background:rgba(255,255,255,0.9);
    color:#222; 
    vertical-align: middle;
}

#controls #time li.time-adjust {
    border-radius: 15rem;
    font-size:15rem;
    height:15rem;
    width:15rem; 
}
#controls #time #time-more:after {
    content : '';
    display: block;
    background-color: #000;
    height: 0.5em;
    width: 0.125em;
    margin: 0.25em 0.4375em;
    border-radius: 0.125em;
}
#controls #time #time-less:before,
#controls #time #time-more:before {
    content : '';
    display: block;
    background-color: #000;
    height: 0.125em;
    width: 0.5em;
    margin: 0.4375em 0.25em;
    position: absolute;
    border-radius: 0.125em;
}

#controls #time li.time-adjust.disabled {
    background:rgba(255,255,255,0.3);
}
#controls #time li#time-required {
    vertical-align: middle;
    border-radius: 5rem;
    padding: 2rem 2rem 0;
    line-height: 1.2;
    
}


/* Rooms */
#rooms {
    text-align:center;
}

#rooms-list {
    font-size: 10rem;
    margin: 0;
    padding: 8rem 2rem;
    list-style:none;
}
#rooms-list li {
    text-align: left;
    margin: 4rem;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
#rooms-list li.status-free {
    background: #319900;
}
#rooms-list li.status-soon,
#rooms-list li.freetime-inadequate {
    background: #ffce00;  
    color: #222;
}
#rooms-list li.status-busy {
    background: #e50000;  
}
#rooms-list li.no-status {
    background: #3A8AC5;
}   

#rooms-list li em,
#rooms-list li span {
    margin-right: 0.5rem;
    min-width: 1.5rem;
    text-align: right;
}

#rooms-list li em {
    display: none;
    font-style: normal;
}

#rooms-list li span {
    display: inline-block;
}
#rooms-list li em {
    display: none;
    font-style: normal;
}
#rooms-list li:before {
    content: "✘";
    display: inline-block;
    width: 1.1em;
    text-align: center;
}
#rooms-list li.status-free:before {
    content: "✓";
}
#rooms-list li.no-status:before {
    content: "✪";
}

/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 

    #close {
        font-size: 3rem;
        top: 3rem;
        left: 3rem;
    }

    .events-upcoming-0 #minutes-free  {
        font-size: 70rem;
        padding-top: 15rem;
    }
    .events-upcoming-1 #minutes-free {
        font-size: 30rem;
    }
    .events-upcoming-1 .events {
        height: 70rem;
        padding: 0;
    }
    .events-upcoming-1 .event {
        height: 100%;
        padding: 12rem 0 0;
        font-size: 6rem;
        box-sizing: border-box;
    }
    .events-upcoming-1 .which {
        margin-bottom: 2rem;
    }
    .events-upcoming-1 .title {
        white-space: normal;
        max-height: 4em;
    }

    .events-upcoming-2 #minutes-free {
        font-size: 20rem;
    }
    .events-upcoming-2 .events {
        height: 80rem;
        padding: 0;
    }
    .events-upcoming-2 .event {
        height: 50%;
        padding: 4rem 0 0;
        font-size: 6rem;
        box-sizing: border-box;
    }
    .events-upcoming-2 .which {
        margin-bottom: 2rem;
    }

    #rooms-list {
        padding: 7rem 0;
    }
    #rooms-list li {
        font-size: 4rem;
        margin: 1.5rem;
        border-radius: 1rem;
    }

    #info {
        font-size: 6rem;
        padding: 10rem 2rem 0;
        overflow: hidden;
    }
    #controls p {
        font-size:6rem;
        padding: 5rem 5rem 3rem;
    }
    #controls #time li {
        font-size:14rem;
        margin:0 3rem;
        line-height:2em;
    }
    #controls #time li.time-adjust {
        border-radius: 12rem;
        font-size:12rem;
        height:12rem;
        width:12rem; 
    }
    #controls #time li#time-required {
        vertical-align: middle;
        border-radius: 5rem;
        padding: 2rem 2rem 0;
        line-height: 1.2;
    }
}

/*iPhone 5 or other elongated phones*/
@media all and (orientation:portrait) and (max-aspect-ratio: 2/3) { 

    #controls #time li {
        font-size:12rem;
        margin:0 2rem;
        line-height:2em;
    }
    #controls #time li.time-adjust {
        border-radius: 8rem;
        font-size:8rem;
        height:8rem;
        width:8rem; 
    }
    #controls #time li#time-required {
        vertical-align: middle;
        border-radius: 4rem;
        padding: 2rem 2rem 0;
        line-height: 1.2;
    }
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
    .events-upcoming-0 #minutes-free {
        font-size: 100rem;
    }

    .events-upcoming-1 .events ,
    .events-upcoming-1 #minutes-free {
        display: inline-block;
        vertical-align: middle;
    }
    .events-upcoming-1 #minutes-free {
        width: 40%;
        font-size: 50rem;
        line-height: 100rem;
    }
    .events-upcoming-1 .events {
        width: 60%;
    }
    .events-upcoming-1 .event {
        font-size: 10rem;
    }
    
    #status.events-upcoming-2 {
        box-sizing: border-box;
        padding-top: 25rem;
    }
    .events-upcoming-2 #minutes-free  {
        font-size: 25rem;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .events-upcoming-2 .events {
        height: 100%;
    }
    .events-upcoming-2 .event {
        font-size: 8rem;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 100%;
        padding: 0 0 15rem;
        margin-bottom: 1.2rem;
        position: relative;
    }
    .events-upcoming-2 .event .which {
        margin-bottom: 0.5em;
    }
    .events-upcoming-2 .event .organizer,
    .events-upcoming-2 .event .title {
        white-space: normal;
        /*2 lines + room for descenders*/
        max-height: 2.5em; 
        line-height: 1.1;
    }
    .events-upcoming-2 .event .when {
        position: absolute;
        bottom: 10rem;
        box-sizing: border-box;
    }
    .events-upcoming-2 .event:first-child  {
        padding-right: 0.2rem;
        padding-left: 0.8rem;
    }
    .events-upcoming-2 .event:last-child {
        padding-right: 0.8rem;
        padding-left: 0.2rem;
    }
  
}

/* Prevent iOS, WinMobile from adjusting font size */
html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 

